<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


	<connectionStrings>
		<add name="EstateManagementDb" connectionString="Data Source=TheBeast;Initial Catalog=EstateManagement;Integrated Security=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="PicturesFolder" value="E:\Anul 2 Sem 1\MIP\EstateManagementUI\Pictures" />
	</appSettings>

</configuration>